@media (max-width: 768px) {
  .container {
    width: 100% !important;
    max-width: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }

  .jumbotron {
  	border-radius: 0 !important;
  }

  .content {
  	padding: 0 15px !important;
  }
}

.bg-secondary {
	background-color: #e9ecef !important;
}

.border-header-danger {
	border-top: none !important;
	border-bottom: 1px solid #f1b0b7 !important;
}

.border-header-warning {
	border-top: none !important;
	border-bottom: 1px solid #ffe8a1 !important;
}

.border-header-success {
	border-top: none !important;
	border-bottom: 1px solid #b1dfbb !important;
}

.border-none {
	border: none !important;
}

$paypal-color: #2997d8;
$bitcoin-color: #ff9900;
$litecoin-color: #bebebe;

.fa-paypal {
  color: $paypal-color;
}

.BTC-alt {
  color: $bitcoin-color;
}

.LTC-alt {
  color: $litecoin-color;
}

.required {
  color: #b80303;
}

.display-5 {
  font-size: 3.15rem;
  font-weight: 300;
  line-height: 1.2;
}

.sub {
  font-size: 2.35rem;
  font-weight: 300;
  line-height: 1.1;
}

.type p {
  margin-bottom: .5rem;
}